
@{
    ViewBag.Title = "帮帮币装箱";
}
<main class="container" style="margin-top:70px">
    <div id="notification" class="container">
        <span class="fa fa-calendar"></span>
        文章的评论已截屏保存，飞哥加油被涛咆哮赞，获得帮帮点 奖励2点
        <a href="723.html" style="float:right; color:#337ab7"><span class=" fa fa-hand-o-right "></span>全部消息</a>
    </div>
    <div class="page-header">
            <span class="fa fa-edit" style="font-size:35px;padding :20px">帮帮币装箱</span>
            <a href="#"><span class=" fa fa-envelope"></span>联系我们</a>
    </div>
    <hr />
    <div class="row">
        <article class="col-md-6">
            <div >
                <a href="#"class="pull-right"> <span class="fa fa-question-circle"></span>注意事项</a>
                <div id="reward">
                    <p>系统要求的最低出售门槛为： 50 枚</p>
                    <p>目前，你的  帮帮币 ：</p>
                    <table class="table" style="margin-bottom:0px;">
                        <tbody>
                            <tr>
                                <th>结余：</th>
                                <td>1 枚</td>
                            </tr>
                            <tr title="" data-toggle="tooltip" data-original-title="可出售 = 结余 - 门槛">
                                <th>可出售：</th>
                                <td><span zyf-current-available="">-49</span> 枚</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </article>

    </div>
</main>

