<aside class="col-md-3">
    <div id="advertising" style="background-color:#ffffe0">
        <div style="font-size:25px">
            <span class="fa fa-list"></span>
            新手任务
        </div><hr />
        <p><span class="fa fa-square-o fa-fw"></span><span class="interval">填写:</span><a href="#">联系方式</a></p>
        <p><span class="fa fa-square-o fa-fw"></span><span class="interval">填写:</span><a href="#">Email</a></p>
        <p><span class="fa fa-square-o fa-fw"></span><span class="interval">填写:</span><a href="#">我的小伙伴</a></p>
        <p><span class="fa fa-square-o fa-fw"></span><span class="interval">填写:</span><a href="#">新人测试</a></p>
        <p><span class="fa fa-square-o fa-fw"></span><span class="interval">填写:</span><a href="#">第一次求助</a></p>
        <p><span class="fa fa-square-o fa-fw"></span><span class="interval">填写:</span><a href="#">第一次协助</a></p>
        <p><span class="fa fa-check-square-o fa-fw"></span><span class="interval">填写:若干</span><a href="#" style="color:rgba(203,180,26,1)"><span class="fa fa-dollar"></span>帮帮币</a></p>
    </div>
    <a href="#" class="pull-right" style="font-size:15px;margin-top:20px"><span class="fa fa-pencil-square-o" style="margin-right:4px"></span>修改</a>
    <div class="photo">
        <span class="fa fa-picture-o" style="font-size:60px;text-align:center;width:100%;margin-top:20%"></span>
        <div style="margin-left: 30%;margin-top:20px">等待上传中<span class="fa fa-hourglass-half"></span>...</div>
    </div>
    <div style="margin-top:20px">
        <span><b>用户:</b><a href="#" style="margin-left:20px;margin-right:4px">uao</a><a href="#" style="margin-right:20px">①</a><a href="#"><span class="fa fa-pencil-square-o" style="margin-right:4px"></span>修改</a></span>
    </div>
</aside>
